<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613167220460-7tpeaps40b5m21ld20lf8ic807nfceeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613167220460-7tpeaps40b5m21ld20lf8ic807nfceeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613167220460-cv314kqll5e9qhembvkaehbd3agtb9ul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMTpiD7rDmYBTmRuNpWLvmNUb0ZM-qoF4</string>
	<key>GCM_SENDER_ID</key>
	<string>613167220460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unseen.ios</string>
	<key>PROJECT_ID</key>
	<string>unseen-e3b13</string>
	<key>STORAGE_BUCKET</key>
	<string>unseen-e3b13.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613167220460:ios:457bb703d9b68ba7cdc7c9</string>
</dict>
</plist>